* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Playfair Display', serif;
    width: 90vw;
    background: linear-gradient(90deg, #5e5d5d, #888a8a, #888a8a, #5e5d5d);
    line-height: 1.5;
    text-align: end;

}

h3 {
    margin-top: 30px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 70px 8px;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-left: 50px;
}

#img-div {
    /* background-color: rgb(174, 187, 197); */
    width: 100%;
    text-align: left;
    
}

#title {
    font-size: 3em;
    font-weight: 800;
    margin: 30px;

}

h3 {
    font-size: 2rem;
}

h4 {
    text-align: center;
}
#img-caption {
    font-style: italic;
    font-weight: 500;
  }

#image {
    max-width: 100vw;
    width: 30vw;
}

@media(max-width: 567px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    

    #image {
        max-width: 100vw;
        width: 100vw;
    }

    #title {
        font-size: 2.5em;
    }

}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 50px auto 50px auto;
    text-align: left;
  }